<div class="dashboard-container">
  <app-menu></app-menu>

  @if (!isLoading()) {
    <main class="dashboard-content">
      <header class="content-header">
        <h2>{{ "Prestamos.titulo" | translate }}</h2>
      </header>
      
      <section class="content-body">
        <div class="stat-card stat-primary">
          <p class="stat-title">{{ "Prestamos.total" | translate }}</p>
          <span class="number">{{ myLoans().length }}</span>
        </div>

        <div class="table-wrapper">
          @if (paginatedLoans().length > 0) {
          @for (loan of paginatedLoans(); track loan.id) {
            <div class="card">
              <div class="cover">
                <img class="cover-thumb" [src]="loan.copy?.book?.cover_image || 'https://placehold.co/80x120?text=Sin+portada'" [alt]="loan.copy?.book?.title" onerror="this.src='https://placehold.co/80x120?text=Sin+portada'">
              </div>
              <div class="book-info">
                <div class="title-cell">
                  <strong>{{ loan.copy?.book?.title }}</strong>
                  <span>{{ getBookAuthors(loan.copy?.book) }}</span>
                </div>
              </div>
              <div class="loan-info">
                <div>
                  <span>{{ "Prestamos.pedido_en" | translate }} {{ loan.loan_date | date: 'MMMM d, y, H:mm' : undefined : savedLanguage }}</span>
                </div>
                <div class="return">
                  @if (loan.return_date) {
                    <span>{{ "Prestamos.devuelto_en" | translate }} {{ loan.return_date | date: 'MMMM d, y, H:mm' : undefined : savedLanguage }}</span>
                  }
                  @else {
                    <button (click)="returnBook(loan)">{{ "Prestamos.devolver" | translate }}</button>
                  }
                </div>
              </div>
            </div>
          }

          <div class="pagination-wrapper">
            <button class="pag-btn" (click)="prevPage()" [disabled]="currentPage() === 0">Anterior</button>
            <span>{{ currentPage() + 1 }} / {{ totalPages() }}</span>
            <button class="pag-btn" (click)="nextPage()" [disabled]="currentPage() + 1 >= totalPages()">Siguiente</button>
          </div>
          } @else {
          <div class="empty-state">
            {{ 'MisLibros.sin_libros' | translate }}
          </div>
          }
        </div>

      </section>
    </main>
  } @else {
    <div class="loading-screen">
      <div class="spinner"></div>
      <p>Cargando tus préstamos...</p>
    </div>
    }
</div>