<div class="page-layout">
  <app-header></app-header>

  @if (modalConfig.show) {
  <div class="toast-container" [ngClass]="'toast-' + modalConfig.type">

    <div class="toast-icon">
      @if (modalConfig.type === 'success') { <img src="assets/img/correcto.png" alt="success" /> }
      @else if (modalConfig.type === 'error') { <img src="assets/img/error.png" alt="error" /> }
      @else { <img src="assets/img/warning.png" alt="warning" /> }

    </div>  

    <div class="toast-content">
      <h4>{{ modalConfig.title }}</h4>
      <p>{{ modalConfig.message }}</p>
    </div>

    <span class="toast-close" (click)="modalConfig.show = false">✖</span>
  </div>
  }

  <main class="register-main">
    <div class="register--container">
      <div class="register--header">
        <h3>{{'Register.login' | translate}}</h3>
      </div>

      <form class="register--form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row-flex">
          <div class="form-group flex-1">
            <label>{{'Register.nombre' | translate}}</label>
            <input type="text" formControlName="name" placeholder="Nombre">
          </div>
          <div class="form-group flex-1">
            <label>{{'Register.apellidos' | translate}}</label>
            <input type="text" formControlName="lastname" placeholder="Apellidos">
          </div>
        </div>

        <div class="form-group">
          <label>{{'Register.email' | translate}}</label>
          <input type="email" formControlName="email" placeholder="email@ejemplo.com">
        </div>

        <div class="form-group">
          <label>{{'Register.password' | translate}}</label>
          <div class="input-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••••">
            <span class="eye-icon" (click)="togglePassword()">

              @if (!showPassword) {
              <img src="assets/img/ojoAbierto.png" alt="Mostrar contraseña" />
              }

              @else {
              <img src="assets/img/ojoCerrado.png" alt="Ocultar contraseña" />
              }

            </span>
          </div>
        </div>

        <div class="form-group">
          <label>{{'Register.confirmar-password' | translate}}</label>
          <input type="password" formControlName="confirmPassword" placeholder="••••••••">
        </div>

        <button type="submit" class="btn-primary">
          {{'Register.boton-crear-cuenta' | translate}}
        </button>
      </form>

      <div class="register--footer">
        <p class="texto-crear">
          <a routerLink="" class="link-create">{{'Register.tienes-cuenta' | translate}}</a>
        </p>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>